* {
  padding: 0;
  border: 0;
  margin: 0;
}
.sprite {
  display: block;
  position: relative;
  overflow: hidden;
}
.sprite img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.catalog li {
  list-style: none;
  height: 8em;
  position: relative;
  margin: 1em;
  border-radius: 1em;
  background-color: #cccccc;
}
.catalog li .portrait {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.catalog li .portrait .sprite {
  width: 10em;
  height: 100%;
}
.catalog li .deets {
  height: 100%;
  position: absolute;
  top: 0;
  padding: 1em 0;
  left: 11em;
}
