@mid: #ddd;
@unit-height: 7em;
@bg: #fdfdfd;
@fg: #111;
@hl: #bbb;
@icon-size: 512px;

@rock: '✊';
@paper: '✋';
@scissors: '✌️';

@rock-colour: hsl(0, 0.6, 0.6);
@paper-colour: hsl(240, 0.6, 0.6);
@scissors-colour: hsl(120, 0.5, 0.55);

@keyframes bob {
  0% {top: -1em}
  50% {top: -2em}
  100% {top: -1em}
}

#title {
  margin: 20vh auto;
  text-align: center;
  padding: 1em;
}

@font-face {
  font-family: 'Rum Raisin';
  font-style: normal;
  font-weight: 400;
  src: local('Rum Raisin'), local('RumRaisin-Regular'), url(fonts/rumraisin.woff) format('woff');
}

@media (max-width: 25em) {
  body { font-size: 1em !important; }

  @media (max-width: 18em) {
    body { font-size: 0.8em !important; }
  }
}

.stats-dl() {
  dt {
    font-weight: bold;
    width: 0;
    height: 0;
    clear: both;
  }
  dd {
    width: 5.5em;
    text-align: right;
    float: left;
  }

  &::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
  }
}

.checkbox() {
  .button-shadow();
  cursor: pointer;
  font-size: .8em;
  width: 1.5em;
  height: 1.5em;
  padding: .2em;
  border-radius: .2em;
  background-color: @bg;
  text-align: center;

  &::after {
    content: '✔️';
    color: fade(@fg, 0%);
    text-shadow: 0 0 0 fade(@fg, 10%);
  }
}

.checkbox-checked() {
  background-color: @fg;

  &::after {
    text-shadow: 0 0 0 @bg;
  }
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}

body, button {
  font-family: 'Rum Raisin', sans-serif;
}
body {
  background-color: @bg;
  color: @fg;
  letter-spacing: .05em;
  letter-spacing: 0;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: @fg;
  text-shadow: .1em .1em 0 @bg;

  &[href] {
    &:hover, &:focus {
      color: @bg;
      text-shadow: .1em .1em 0 @fg;
    }
  }
}

.sprite {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    // &.layer-eb {
    //   animation-duration: 2s;
    //   animation-name: bob;
    //   animation-iteration-count: infinite;
    // }
  }
}

.affinity() {
  &::after {
    line-height: 0;
    top: -.3em;
    padding-left: .3em;
    color: fade(@fg, 0%);
  }

  &.affinity-rock::after {
    content: @rock;
    text-shadow: 0 0 0 @rock-colour;
  }
  &.affinity-paper::after {
    content: @paper;
    text-shadow: 0 0 0 @paper-colour;
  }
  &.affinity-scissors::after {
    content: @scissors;
    text-shadow: 0 0 0 @scissors-colour;
  }
}

.button() {
  padding: .2em .5em;
  border-radius: .2em;
  background-color: @hl;
}

.affinity-button() {
  .button();
  text-shadow: none;
  color: @bg;

  &:hover, &:focus {
    background-color: @fg !important;
  }
}

.button-shadow() {
  box-shadow: 0 .1em .3em fade(@fg, 50%);
}

.menu() {
  li a {
    display: block;
    padding: 1em 1em;
    background-color: @mid;
    border-bottom: 1px solid fade(@fg, 30%);
    color: fade(@fg, 50%);

    &[href] {
      background-color: @hl;
      color: @fg;

      &:hover, &:focus {
        color: @bg;
      }
    }
  }

  li:last-child a {
    border-bottom: none;
  }
}

#menu {
  .menu();
}

.catalog {
  padding: .6em 0 @unit-height + 1em;
  text-align: center;

  .idol {
    height: 6em;
    max-height: 29vw;
    width: 6em;
    max-width: 29vw;
    position: relative;
    cursor: pointer;
    margin: .2em .1em 0;
    background-color: fade(@mid, 50%);
    display: inline-block;
    overflow: hidden;
    border-radius: .3em;

    &.affinity-rock { background-color: fade(@rock-colour, 90%); }
    &.affinity-paper { background-color: fade(@paper-colour, 90%); }
    &.affinity-scissors { background-color: fade(@scissors-colour, 90%); }

    .portrait {
      margin-top: -3.5em;
      margin-left: -3.5em;
      height: 200%;
      left: 0;

      .sprite {
        width: 12em;
        height: 100%;
      }
    }

    .input {
      .checkbox();
      position: absolute;
      bottom: 0.2em;
      right: 0.2em;
    }

    &.active {
      .input {
        .checkbox-checked();
      }
    }
  }
}

#signature {
  position: relative;
  padding: 2em 0 2em;
  bottom: @unit-height;
  text-align: center;

  img {
    opacity: .4;
    width: 5em;
    height: 5em;

    &:focus, &:hover {
      opacity: .6;
    }
  }

  ul {
    margin-top: .5em;

    li {
      display: inline-block;

      &::after {
        content: ' ・ ';
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }
}

#unit {
  &.empty {
    display: none;
  }

  height: @unit-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: fade(@fg, 90%);
  color: @bg;

  h2 {
    display: block;
    position: absolute;
    left: 0;
    top: -@unit-height/4;
    height: @unit-height/4;
    box-sizing: border-box;
    padding: .3em .5em;

    background-color: fade(@fg, 90%);
    font-size: @unit-height/7;
    border-radius: 0 .5em 0 0;
  }

  ul.unit {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    li {
      display: inline-block;
      cursor: pointer;

      .portrait {
        height: @unit-height * 2;
        width: @unit-height * 2;
        margin: -(@unit-height/3) -(@unit-height * 0.4);
      }
    }
  }
}

#idol-detail {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  z-index: 100;

  &[data-affinity="rock"] {
    background-color: fade(lighten(@rock-colour, 10%), 95%);
    a[href] { background-color: darken(@rock-colour, 10%) };
  }

  &[data-affinity="paper"] {
    background-color: fade(lighten(@paper-colour, 10%), 95%);
    a[href] { background-color: darken(@paper-colour, 10%) };
  }

  &[data-affinity="scissors"] {
    background-color: fade(lighten(@scissors-colour, 10%), 95%);
    a[href] { background-color: darken(@scissors-colour, 10%) };
  }

  &.shown {
    opacity: 1;
    pointer-events: unset;
  }

  .portrait {
    width: 100vw;
    height: 120vh;
    text-align: right;
    position: absolute;
    top: -7vh;
    left: 0;
    z-index: 2;
    text-align: center;

    .sprite {
      display: inline-block;
      left: 15vw;
      max-width: 100vh;
    }
  }

  .summary, .bio {
    position: absolute;
    z-index: 3;
    box-sizing: border-box;
  }

  .bubble {
    margin: 0;
    padding: .5em;
    background-color: fade(@bg, 70%);
  }

  .summary {
    left: 0;
    top: 0;

    .nametag, .stats, .abilities {
      float: left;
      clear: both;
    }

    .nametag {
      border-radius: 0 0 .5em 0;

      .name {
        .affinity();
      }

      .membership {
        .input {
          .checkbox();
          display: inline-block !important;
          margin-left: .3em;

          &.active {
            .checkbox-checked();
          }
        }

        span {
          font-size: 1.2em;
        }
      }
    }

    .stats, .abilities {
      margin-top: .5em;
      border-radius: 0 .5em .5em 0;
    }

    .stats {
      .rarity {
        text-align: center;

        &::before {
          content: '✪';
          padding-right: .2em;
        }
      }

      dl {
        .stats-dl();

        dd {
          width: 8.5em !important;
        }
      }
    }

    .abilities {
      li {
        .affinity();
      }
    }
  }

  .bio {
    border-radius: 0 .5em 0 0;
    width: 90vw;
    max-width: 30em;
    bottom: 0;
    left: 0;

    blockquote {
      padding-top: .5em;
      font-style: italic;
    }
  }

  .actions {
    clear: both;
    padding: .5em;

    li {
      margin-bottom: .5em;

      a {
        display: inline-block;
        .affinity-button();
      }
    }
  }

  .close {
    top: 0;
    right: 0;
    position: absolute;
    margin: 1em;
    z-index: 3;
    .affinity-button();
  }
}

#barcode-image {
  display: none;
}

#battle {
  display: none;
}

body.in-battle {
  #battle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: @bg;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;

    #flee {
      .button();
      margin: .5em;
      position: absolute;
      top: 0;
      right: 0;
    }

    .idol-list {
      color: @bg;
      background-color: fade(@fg, 90%);

      &::before {
        display: block;
        font-size: 1.5em;
        width: 100%;
        margin-bottom: -.5em;
      }

      text-align: center;
      width: 100vw;

      li {
        display: inline-block;
        margin: 0 -2vh;
        position: relative;
        transition: transform 1s;

        .health-bar {
          position: absolute;
          box-sizing: border-box;
          width: 50%;
          bottom: 2.1em;
          left: 25%;
          border: .1em solid @fg;
          background-color: fade(@bg, 40%);
          outline: .1em solid @bg;
          transition: opacity 2s;
          opacity: 1;

          .health-bar-content, .health-bar-trail {
            height: 2vw;
            max-height: 2vh !important;
          }

          .health-bar-content {
            border-right: .05em solid @fg;
            position: absolute;
            top: 0;
            left: 0;
          }

          .health-bar-trail {
            transition: width 2s;
            background-color: fade(darken(red, 20%), 70%);
            border-right: .05em solid red;
          }

          &.affinity-rock .health-bar-content { background-color: lighten(@rock-colour, 20%) }
          &.affinity-paper .health-bar-content { background-color: lighten(@paper-colour, 20%) }
          &.affinity-scissors .health-bar-content { background-color: lighten(@scissors-colour, 20%) }
        }

        .portrait {
          transition: transform .2s;
          display: block;
          height: 30vw;
          max-height: 25vh !important;
          width: 30vw;
          max-width: 25vh !important;
          margin-bottom: 2em;
          transform-origin: 40% 100%;
        }

        .name {
          .affinity();
          position: absolute;
          height: 1.5em;
          margin: .2em 0;
          bottom: 0;
          left: 0;
          width: 30vw;
          max-width: 25vh !important;
          text-align: center;
          white-space: nowrap;
        }

        @media (max-width: 35em) {
          .health-bar { bottom: 1.3em; }
          .portrait { margin-bottom: 1.2em; }
          .name {
            font-size: 0.8em;
            margin: .1em 0 0;
            span { display: none; }
          }
        }

        &.fighting .portrait, &.focussed .portrait {
          transform: scale(1.3);
        }

        &.focussed {
          &::before {
            color: @fg;
            content: '▼';
            font-size: 5vh;
            font-weight: bold;
            position: absolute;
            left: 0;
            width: 100%;
            animation-duration: 2s;
            animation-name: bob;
            animation-iteration-count: infinite;
          }
        }

        &.dead {
          transform: rotate(-90deg) scale(0.5) translateX(-30%);
          opacity: 0.5;

          .health-bar {
            opacity: 0;
          }
        }
      }
    }

    #enemy-idols {
      &::before {
        content: 'Enemy';
      }

      li {
        label {
          input {
            position: absolute;
            width: 90%;
            text-align: center;

            &::before {
              position: relative;
              right: 50%;
              content: ' ';
              border-radius: 50%;
              height: 25vw;
              max-height: 20vh !important;
              width: 25vw;
              max-width: 20vh !important;
              box-sizing: border-box;
              border: 1em solid @bg;
              text-align: center;
              opacity: 0;
              display: inline-block;
              pointer-events: none;
            }

            &:checked::before {
              opacity: 0.8 !important;
            }
          }
        }

        &.affinity-rock label input::before { border-color: @rock-colour !important }
        &.affinity-paper label input::before { border-color: @paper-colour !important }
        &.affinity-scissors label input::before { border-color: @scissors-colour !important }
      }
    }

    #player-idols {
      pointer-events: none;
      position: fixed;
      bottom: 0;
    }

    .portrait {
      .sprite, canvas {
        margin: 0 auto;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #ability-prompt {
    max-width: 20em;
    text-align: center;
    z-index: 10;
    padding: 1em;
    margin: 0 auto;

    ul {
      text-align: left;
      max-width: 15em;
      margin: 0 auto;
      padding: .5em;

      label {
        input {
          margin-right: .5em;
        }
        .affinity();
      }
    }

    button {
      .affinity-button();
      margin: .5em;
      font-size: 1.5em;
      cursor: pointer;

      &::after {
        color: fade(@bg, 0%);
        text-shadow: 0 0 0 @bg;
        padding-left: .3em;
      }

      &[data-affinity="rock"] { background-color: @rock-colour; &::after { content: @rock } }
      &[data-affinity="paper"] { background-color: @paper-colour; &::after { content: @paper } }
      &[data-affinity="scissors"] { background-color: @scissors-colour; &::after { content: @scissors } }
    }
  }

  #catalog, #unit {
    display: none;
  }
}

body.overlay {
  overflow: hidden;
}

#catalog {
  overflow-x: hidden;
}

body.icon {
	overflow: hidden;
	width: @icon-size;
	height: @icon-size;

  .icon-container {
    overflow: hidden;
    width: @icon-size;
    height: @icon-size;

    .portrait {
      width: @icon-size * 2;
      height: @icon-size * 2;

      // focus on the head
      .sprite {
        left: -(@icon-size / 2);
        top: -(@icon-size / 2);
      }
    }

    &::before {
      content: '❋';
      position: absolute;
      width: @icon-size*1.8;
      height: @icon-size*2;
      left: -@icon-size*0.8;
      top: -@icon-size;
      box-sizing: border-box;

      display: block;
      overflow: hidden;

      font-family: 'Zapf Dingbats';
      font-size: @icon-size*3;
      z-index: -1;
    }

    &.affinity-rock { color: @rock-colour; }
    &.affinity-paper { color: @paper-colour; }
    &.affinity-scissors { color: @scissors-colour; }
  }
}

#sort-orders {
  position: relative;
  z-index: 30;
  height: 3.2em;

  #sort-button {
    .button();
    position: absolute;
    z-index: 35;
    box-sizing: border-box;
    transition: background-color .5s, border-color .5s;
    border: .1em solid fade(@fg, 0%);
    right: .5em;
    top: 1em;
  }

  #sort-list {
    .menu();
    .button-shadow();

    border-radius: .5em 0 0 .5em;
    position: absolute;
    width: 90vw;
    max-width: 20em;
    right: -22em;
    top: .5em;
    transition: right .5s;
    overflow: hidden;
  }

  &.visible {
    #sort-button {
      border-color: fade(@fg, 50%);
      background-color: @mid;
    }

    #sort-list {
      right: 0;
    }
  }
}

#prompt-backdrop {
  background-color: fade(@bg, 70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;

  #prompt {
    .button-shadow();
    max-width: 25em;
    border-radius: 0.5em;
    background-color: fade(@bg, 90%);
    display: inline-block;
    margin: 25vh 3vw 0;
    padding: 1em;

    p {
      margin-bottom: 1em;
    }

    li {
      display: inline-block;

      a {
        .button();
      }
    }
  }
}

body.nothing-scanned {
  #catalog {
    text-align: center;
  }

  #sort-orders {
    display: none;
  }
}

#buffet {
  background-color: @fg;
  color: @bg;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 500;

  h2, p, dl {
    padding: 1rem 1rem 0;
  }

  .catalog {
    clear: both;
  }

  dl {
    dt {
      margin-top: .5em;
    }

    dd {
      margin-left: 1em;

      strong {
        display: inline-block;
        vertical-align: -7%;
        font-size: 1.5em;
      }
    }
  }

  .cancel {
    float: right;
    margin: 1em;
    .button();
  }

  .actions {
    padding: 2em 0 1em;
    text-align: center;

    a {
      .button();
    }
  }
}

#stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;

  #skip {
    .button();
    margin: .5em;
    position: absolute;
    top: 0;
    right: 0;
  }

  #backdrop {
    height: 70vh;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: @mid;
    background-position: center center;
  }

  #script {
    min-height: 30vh;
    position: absolute;
    background-color: @bg;
    bottom: 0;
    left: 0;
    padding: 1em 1em 2em;
    font-size: 1.5em;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;

    #invisible-script {
      opacity: 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0.8em;
      font-size: 1.5em;
      content: "❯";
      color: @hl;
    }
    &:focus, &:hover {
      &::after {
        color: @fg;
      }
    }
  }
}

#audition {
  position: fixed;
  text-align: center;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, @bg, @fg);

  h2 {
    position: relative;
    display: inline-block;
    margin: 5vh auto 0;
    background-color: fade(@bg, 80%);
    z-index: 200;
    padding: .5em;
    border-radius: .2em;
    .affinity();
  }

  .portrait {
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  #catch-button-container {
    position: absolute;
    bottom: 5vh;
    width: 100%;
  }

  #catch-button {
    .affinity-button();
  }

  &.affinity-rock #catch-button { background-color: @rock-colour }
  &.affinity-paper #catch-button { background-color: @paper-colour }
  &.affinity-scissors #catch-button { background-color: @scissors-colour }
}

#confetti {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 2000;
}
