@mid: #ccc;
@unit-height: 8em;
@bg: #fdfdfd;
@fg: #111;
@hl: pink;
@icon-size: 512px;

@rock: '✊';
@paper: '✋';
@scissors: '✌️';

@rock-colour: hsl(0, 0.6, 0.6);
@paper-colour: hsl(240, 0.6, 0.6);
@scissors-colour: hsl(120, 0.6, 0.6);

@keyframes bob {
  0% {top: -1em}
  50% {top: -2em}
  100% {top: -1em}
}

#title {
  margin: 20vh auto;
  text-align: center;
  padding: 1em;
}

.stats-dl() {
  dt {
    font-weight: bold;
    width: 0;
    height: 0;
    clear: both;
  }
  dd {
    width: 5.5em;
    text-align: right;
    float: left;
  }
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  list-style: none;
}

body, button {
  font-family: 'Rum Raisin', sans-serif;
}
body {
  background-color: @bg;
  color: @fg;
  letter-spacing: .05em;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: @fg;
  text-shadow: .1em .1em 0 @bg;

  &[href] {
    &:hover, &:focus {
      color: @bg;
      text-shadow: .1em .1em 0 @fg;
    }
  }
}

.sprite {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    // &.layer-eb {
    //   animation-duration: 2s;
    //   animation-name: bob;
    //   animation-iteration-count: infinite;
    // }
  }
}

.affinity() {
  &::after {
    display: inline-block;
    overflow: hidden;
    padding-left: .3em;
    color: fade(@fg, 0%);
  }

  &.affinity-rock::after {
    content: @rock;
    text-shadow: 0 0 0 @rock-colour;
  }
  &.affinity-paper::after {
    content: @paper;
    text-shadow: 0 0 0 @paper-colour;
  }
  &.affinity-scissors::after {
    content: @scissors;
    text-shadow: 0 0 0 @scissors-colour;
  }
}

.button() {
  padding: .2em .5em;
  border-radius: .2em;
  background-color: @hl;
}

.button-shadow() {
  box-shadow: 0 .1em .3em fade(@fg, 50%);
}

.menu() {
  li a {
    display: block;
    padding: 1em 1em;
    background-color: @mid;
    border-bottom: 1px solid fade(@fg, 30%);
    color: fade(@fg, 50%);

    &[href] {
      background-color: @hl;
      color: @fg;

      &:hover, &:focus {
        color: @bg;
      }
    }
  }

  li:last-child a {
    border-bottom: none;
  }
}

#menu {
  .menu();
}

.catalog {
  padding: .6em 0 @unit-height + 1em;
  text-align: center;

  .idol {
    height: 6em;
    width: 6em;
    position: relative;
    cursor: pointer;
    margin: .2em .1em 0;
    background-color: fade(@mid, 50%);
    display: inline-block;
    overflow: hidden;
    border-radius: .3em;

    &::after {
      // content: ' ';  // uncomment this if you want lil badges instead of backgrounds for affinity
      position: absolute;
      top: -1em;
      right: -1.5em;
      width: 4em;
      height: 2em;
      box-shadow: 0 -.1em .5em @fg inset;
      transform: rotate(45deg);
    }

    &.affinity-rock { background-color: fade(@rock-colour, 90%); &::after { background-color: @rock-colour; } }
    &.affinity-paper { background-color: fade(@paper-colour, 90%); &::after { background-color: @paper-colour; } }
    &.affinity-scissors { background-color: fade(@scissors-colour, 90%); &::after { background-color: @scissors-colour; } }

    .portrait {
      margin-top: -3.5em;
      margin-left: -3.5em;
      height: 200%;
      left: 0;

      .sprite {
        width: 12em;
        height: 100%;
      }
    }

    .input {
      .button-shadow();
      font-size: .8em;
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      padding: .2em;
      border-radius: .2em;
      bottom: 0.2em;
      right: 0.2em;
      background-color: @bg;
      text-align: center;

      &::after {
        content: '✔️';
        color: fade(@fg, 0%);
        text-shadow: 0 0 0 fade(@fg, 10%);
      }
    }

    &.active {
      .input {
        background-color: @fg;

        &::after {
          text-shadow: 0 0 0 @bg;
        }
      }
    }
  }
}

#unit {
  &.empty {
    display: none;
  }

  height: @unit-height;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: fade(@fg, 90%);
  color: @bg;

  h2 {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    padding: .3em .5em;
    transform: rotate(270deg);
    transform-origin: top left;
  }

  ul.unit {
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 2em;

    li {
      display: inline-block;

      .portrait {
        height: @unit-height;
        width: @unit-height;
      }
    }
  }
}

#idol-detail {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  z-index: 100;

  &[data-affinity="rock"] { background-color: fade(lighten(@rock-colour, 10%), 95%); }
  &[data-affinity="paper"] { background-color: fade(lighten(@paper-colour, 10%), 95%); }
  &[data-affinity="scissors"] { background-color: fade(lighten(@scissors-colour, 10%), 95%); }

  &.shown {
    opacity: 1;
    pointer-events: unset;
  }

  .portrait {
    width: 100vw;
    height: 100vh;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;

    .sprite {
      display: inline-block;
      left: 15vw;
      max-width: 100vh;
    }
  }

  .summary, .bio {
    position: absolute;
    margin: 1em;
    z-index: 3;
    box-sizing: border-box;
  }

  .summary {
    left: 0;
    top: 0;

    .name {
      .affinity();
    }

    .stats, .abilities {
      padding-top: .5em;
    }

    .stats {
      dl {
        .stats-dl();

        dd {
          width: 8.5em !important;
        }
      }
    }

    .abilities {
      clear: both;

      li {
        .affinity();
      }
    }
  }

  .bubble {
    padding: .5em;
    margin: .5em;
    background-color: fade(@bg, 70%);
    border-radius: .5em;
  }

  .bio {
    width: 90vw;
    max-width: 30em;
    bottom: 0;
    left: 0;

    blockquote {
      padding-top: .5em;
      font-style: italic;
    }
  }

  .actions {
    a {
      display: block;
      max-width: 10em;
      .button();
      margin-top: 1em;
    }
  }

  .close {
    top: 0;
    right: 0;
    position: absolute;
    margin: 1em;
    z-index: 3;
    .button();
  }
}

#barcode-image {
  display: none;
}

#battle {
  display: none;
}

body.in-battle {
  #battle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: @bg;
    z-index: 5;
    overflow: hidden;
    box-sizing: border-box;

    .idol-list {
      &::before {
        display: block;
        font-size: 1.5em;
        width: 100%;
        margin-bottom: -.5em;
      }

      text-align: center;
      width: 100vw;

      li {
        display: inline-block;
        margin: 0 -3vh;
        position: relative;
        transition: transform 1s;

        .health-bar {
          position: absolute;
          box-sizing: border-box;
          width: 50%;
          bottom: .45em;
          left: 25%;
          border: .1em solid @fg;
          background-color: fade(@bg, 40%);
          outline: .1em solid @bg;
          transition: opacity 2s;
          opacity: 1;

          .health-bar-content, .health-bar-trail {
            height: 2vw;
            max-height: 2vh !important;
          }

          .health-bar-content {
            background-color: @hl;
            border-right: .05em solid @fg;
            position: absolute;
            top: 0;
            left: 0;
          }

          .health-bar-trail {
            transition: width 2s;
            background-color: fade(red, 70%);
            border-right: .05em solid red;
          }
        }

        .portrait {
          transition: transform .2s;
          display: inline-block;
          height: 30vw;
          max-height: 25vh !important;
          width: 30vw;
          max-width: 25vh !important;
        }

        &.fighting .portrait, &.focussed .portrait {
          transform: scale(1.3);
        }

        &.focussed {
          &::before {
            content: '▼';
            font-size: 5vh;
            font-weight: bold;
            position: absolute;
            left: 0;
            width: 100%;
            animation-duration: 2s;
            animation-name: bob;
            animation-iteration-count: infinite;
          }
        }

        &.dead {
          transform: rotate(-90deg) scale(0.5) translateX(-30%);
          opacity: 0.5;

          .health-bar {
            opacity: 0;
          }
        }
      }
    }

    #enemy-idols {
      &::before {
        content: 'Enemy';
        color: @bg;
      }

      background-color: fade(@fg, 90%);

      li {
        label {
          input {
            position: absolute;
            width: 90%;
            text-align: center;

            &::before {
              position: relative;
              content: ' ';
              border-radius: 50%;
              height: 25vw;
              max-height: 20vh !important;
              width: 25vw;
              max-width: 20vh !important;
              box-sizing: border-box;
              border: 1em solid red;
              text-align: center;
              opacity: 0;
              display: inline-block;
              pointer-events: none;
            }

            &:checked::before {
              opacity: 0.8 !important;
            }
          }
        }
      }
    }

    #player-idols {
      background-color: @hl;
      position: fixed;
      bottom: 0;
    }

    .portrait {
      .sprite, canvas {
        margin: 0 auto;
      }

      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  #ability-prompt {
    max-width: 20em;
    text-align: center;
    z-index: 10;
    padding: 1em;
    margin: 0 auto;

    ul {
      text-align: left;
      max-width: 15em;
      margin: 0 auto;
      padding: .5em;

      label {
        .affinity();
      }
    }

    a {
      background-color: @hl;
      text-shadow: .1em .1em 0 @bg;
    }
  }

  #catalog, #unit {
    display: none;
  }
}

#catalog {
  overflow-x: hidden;
}

body.icon {
	overflow: hidden;
	width: @icon-size;
	height: @icon-size;

  .icon-container {
    overflow: hidden;
    width: @icon-size;
    height: @icon-size;

    .portrait {
      width: @icon-size * 2;
      height: @icon-size * 2;

      // focus on the head
      .sprite {
        left: -(@icon-size / 2);
        top: -(@icon-size / 2);
      }
    }

    &::before {
      content: '❋';
      position: absolute;
      width: @icon-size*1.8;
      height: @icon-size*2;
      left: -@icon-size*0.8;
      top: -@icon-size;
      box-sizing: border-box;

      display: block;
      overflow: hidden;

      font-family: 'Zapf Dingbats';
      font-size: @icon-size*3;
      z-index: -1;
      color: @hl;
    }
  }
}

#sort-orders {
  position: relative;
  z-index: 30;
  height: 3.2em;

  #sort-button {
    .button();
    position: absolute;
    z-index: 35;
    box-sizing: border-box;
    transition: background-color .5s, border-color .5s;
    border: .1em solid fade(@fg, 0%);
    right: .5em;
    top: 1em;
  }

  #sort-list {
    .menu();
    .button-shadow();

    border-radius: .5em 0 0 .5em;
    position: absolute;
    width: 90vw;
    max-width: 20em;
    right: -22em;
    top: .5em;
    transition: right .5s;
    overflow: hidden;
  }

  &.visible {
    #sort-button {
      border-color: fade(@fg, 50%);
      background-color: @mid;
    }

    #sort-list {
      right: 0;
    }
  }
}

#prompt-backdrop {
  background-color: fade(@bg, 70%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;

  #prompt {
    .button-shadow();
    max-width: 25em;
    border-radius: 0.5em;
    background-color: fade(@bg, 90%);
    display: inline-block;
    margin: 25vh 3vw 0;
    padding: 1em;

    p {
      margin-bottom: 1em;
    }

    li {
      display: inline-block;

      a {
        .button();
      }
    }
  }
}

body.nothing-scanned {
  #catalog {
    text-align: center;
  }

  #sort-orders {
    display: none;
  }
}

#buffet {
  background-color: @fg;
  color: @bg;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 500;

  h2, p, dl {
    padding: 1rem 1rem 0;
  }

  .catalog {
    clear: both;
  }

  dl {
    dt {
      margin-top: .5em;
    }

    dd {
      margin-left: 1em;

      strong {
        display: inline-block;
        vertical-align: -7%;
        font-size: 1.5em;
      }
    }
  }

  .cancel {
    float: right;
    margin: 1em;
    .button();
  }

  .actions {
    padding: 2em 0 1em;
    text-align: center;

    a {
      .button();
    }
  }
}

#stage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;

  #backdrop {
    height: 70vh;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: @mid;
    background-position: center center;
  }

  #script {
    min-height: 30vh;
    position: absolute;
    background-color: @bg;
    bottom: 0;
    left: 0;
    padding: 1em 1em 2em;
    font-size: 1.5em;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1rem;
      font-size: 1.5em;
      content: "❯";
      color: @hl;
    }
    &:focus, &:hover {
      &::after {
        color: @fg;
      }
    }
  }
}
