<form id="battle-form">
  <ul class="idol-list" id="enemy-idols">
    {{#each enemyIdols}}
      <li data-index="{{@index}}" class="affinity-{{affinity}}">
        <label>
          <input type="radio" name="target" value="{{@index}}"></input>
          <div class="portrait">
            {{{thumbSpriteHTML}}}
          </div>
          {{{healthBar}}}
        </label>
        <div class="name affinity-{{affinity}}"><span>{{idol.name}}</span></div>
      </li>
    {{/each}}
  </ul>

  <div id="ability-prompt">
  </div>

  <div id="deets-space" class="player">
  </div>

  <ul class="idol-list" id="player-idols">
    {{#each playerIdols}}
      <li data-index="{{@index}}" class="affinity-{{affinity}}">
        <div class="portrait">
          {{{thumbSpriteHTML}}}
        </div>
        {{{healthBar}}}
        <div class="name affinity-{{affinity}}"><span>{{idol.name}}</span></div>
      </li>
    {{/each}}
  </ul>
</form>
